.snipcart {
    color: #313332!important;
}

button.snipcart {
    color: #313332!important;
    box-shadow: none;
}

button.snipcart-modal__close {
    color: #313332!important;
    box-shadow: none;
}

button.snipcart-discount-box__button {
    color: #313332!important;
    box-shadow: none;
}

button.snipcart-discount-box__cancel {
    color: #313332!important;
    box-shadow: none;
}

button.snipcart-cart-header__count, .snipcart-cart-header__sign-in, .snipcart-cart-header__sign-out {
    color: #313332!important;
    box-shadow: none;
}

label.snipcart-form__label {
    color: #313332!important;
}
